.day-item h2 {
    margin-bottom: 24px;
}
.workout-item {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 2px solid #d2d2d2;
}
.workout-info {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding: 0 36px;
}